.container {
    width: 100%;
    max-width: 1920px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.infos {
    font-size: 26px;
    gap: 100px;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.kones {
    display: flex;
    width: 70%;
    max-width: 1920px;
    margin: 0 auto;
    gap: 20px;
}

.item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.up-dawn {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.up-dawn img {
    width: 50px;
    height: 30px;
}

.toggle-button {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 50px;
    margin: 0;
    vertical-align: top;
    background: #ffffff;
    border: 1px solid #bbc1e1;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.toggle-button::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 3px;
    top: 1.5px;
    width: 45px;
    height: 45px;
    background-color: blue;
    border-radius: 50%;
    transform: translateX(0);
}

.toggle-button:checked::after {
    transform: translateX(calc(100% + 3px));
    background-color: #fff;
}

.toggle-button:checked {
    background-color: blue;
}

.cont {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.border {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.border:nth-child(2) {
    background-color: black;
}

.border:nth-child(3) {
    background-color: #c4c4c4;
}

.border:nth-child(4) {
    background-color: antiquewhite;
}

#two {
    display: none;
}